#game-loader {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

#game-loader__progress-bar__container {
  background-color: grey;
  width: 450px;
  height: 5px;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
}

#game-loader__progress-bar {
  background-color: white;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

#game-loader__value {
  color: white;
  position: absolute;
  padding-top: 40px;
  margin: auto 0px;
}

#game-loader__container {
  display: block;
}

#game-loader>button {
  top: 100px;
  position: relative;
}

@media screen and (max-width: 900px) {
  #game-loader__progress-bar__container {
    width: 80%;
  }
}