#game-page {
  background-image: url("../../../public/images/menu.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#game__card {
  background-color: var(--gold);
  width: 450px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 600px) {
  #game__card {
    width: 100%;
  }

  #game__card_footer {
    justify-content: space-between !important;
  }

  #game__question>span {
    font-size: 12px;
  }
}

#game__card__header {
  background-color: var(--gold);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  padding: 20px 10px;
}

#game__question {
  color: var(--brown);
  width: 90%;
}

#game__caracter_card {
  max-width: 350px; 
  max-height: 350px;
  background-color: #1C2F53;
  border-radius: 25px;
  padding-bottom: 0;
  width: 90%;
  margin: 0 20px;
  aspect-ratio: 1/1;
  margin-top: 40px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game__caracter_name {
  margin-top: 15px;
}

#game__caracter_card>span {
  color: var(--gold);
  text-align: center;
}

#game__caracter_card>img {
  left: 0;
  right: 0;
  margin: auto;
}

#game__card_buttons {
  padding: 40px;
  width: 100%;
  justify-content: space-evenly;
}

#game__card_buttons>button {
  padding: 20px 15px;
  flex: 1;
}

.tiny-description {
  font-size: 12px;
}

.small-description {
  font-size: 14px;
}

#game__card_footer {
  background-color: var(--brown);
  display: flex;
  width: 100%;
  padding: 20px;
  align-items: center;
}