<div class="container-modal">
    <h2 class="center">PILARES</h2>
    <div class="icon-explanation">
        <i class="fa-solid fa-heart"></i>
        <h4>: Relacion con la banda</h4>
    </div>
    <div class="icon-explanation">
        <i class="fa-solid fa-person"></i>
        <h4>: Vida personal</h4>
    </div>
    <div class="icon-explanation">
        <i class="fa-solid fa-dollar-sign"></i>
        <h4>: Dinero</h4>
    </div>
    <div class="icon-explanation">
        <i class="fa-solid fa-music"></i>
        <h4>: exito en la musica</h4>
    </div>
</div>
<div class="container-modal center">
    <button id="modal__close">Cerrar</button>
</div>